BUILD_VERSION="LSYSTEM_0.5_BETA"
BUILD_URL="https://github.com/LingmoOS/Lingmo-OS"
PROJECT="LingmoOS Project"
TYPE="Live"
MKFS_TOOLS="mksquashfs"
MKISO_TOOLS="xorriso"
BIN_ISO="/usr/lib/ISOLINUX/isohdpfx.bin"
ISO_LINUX_BIN="isolinux/isolinux.bin"
BOOT="isolinux/boot.cat"
EFI="boot/grub/efi.img"
AS_ISO="mkisofs"

